#status-component {
  text-align: center;
}

#status-component h3 {
  font-size: xx-large;
  font-weight: 400;
}

#status-component h4 {
  font-size: x-large;
  font-weight: 400;
}

.md-color--black-900 {
  color: #303030;
}

.md-color--blue-900 {
  color: #0D47A1 ;
}
